[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gc]
	reflogExpire = never
[init]
	defaultBranch = main
[push]
	default = current
[pull]
	default = current
	rebase = false
[alias]
	count = !git shortlog -sn
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[user]
	name = Jack Hayhurst
	email = jhayhurst@liquidweb.com
[core]
	excludesfile = /Users/jack/.gitignore
[merge]
  tool = code-merge
[mergetool "code-merge"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

